@font-face {
  font-family: 'Haettenschweiler';
  src: url('~static/fonts/haettenschweiler.woff2') format('woff2'), /* Super Modern Browsers */
  url('~static/fonts/haettenschweiler.woff') format('woff'), /* Pretty Modern Browsers */
  url('~static/fonts/haettenschweiler.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Hiragino';
  src: url('~static/fonts/hiragino-sans-gb-w6.woff2') format('woff2'), /* Super Modern Browsers */
  url('~static/fonts/hiragino-sans-gb-w6.woff') format('woff'), /* Pretty Modern Browsers */
  url('~static/fonts/hiragino-sans-gb-w6.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Mistral';
  src: url('~static/fonts/mistral.woff2') format('woff2'), /* Super Modern Browsers */
  url('~static/fonts/mistral.woff') format('woff'), /* Pretty Modern Browsers */
  url('~static/fonts/mistral.ttf') format('truetype'); /* Safari, Android, iOS */
}
