
footer {
  height: $footerHeight;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $white;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      &:nth-child(1) {
        font-family: "Haettenschweiler";
        letter-spacing: 1px;
        margin-right: $size-7;
        font-size: $size-5;
      }
      &:nth-child(2) {
        font-family: "Mistral";
        font-size: $size-4;
      }
    }
    > svg {
      margin: 0 $size-7;
    }

    .social-networks {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-left: $size-5;
      padding-left: $size-5;
      border-left: 1px solid $white;

      li {
        a {
          color: $white;

          svg {
            width: map-get($iconSize, 'xs');
            height: map-get($iconSize, 'xs');
          }
        }
      }
    }
  }
}
